PORT=5000
ENVIRONMENT=development
MONGODB_URI=mongodb://localhost:27017/vidhya
JWT_SECRET=vidhya_super_secret_key_change_this
JWT_ALGORITHM=HS256
JWT_EXPIRES_DAYS=7
GOOGLE_CLIENT_ID=13111651638-rbfbn25jb9pf3ngbnvif4b07rgur8ur2.apps.googleusercontent.com
MAX_FILE_SIZE_MB=5
RATE_LIMIT=100/minute
CLIENT_URL=http://localhost:3000
